<!DOCTYPE html>
<html lang="en">
	<%-include('partials/head', {title: "Developers" })%>
	<style>
		p.fw-bold {
			border-bottom: 0.2px solid rgb(54, 54, 54);
			padding-bottom: 1rem;
			border-radius: 0 !important;
		}
	</style>

	<body>
		<div class="position-absolute top-0 start-0"><%-include('partials/animatedColorPulse.ejs')%></div>
		<div class="container mt-5">
			<!-- For Frontend Dev Team -->
			<div>
				<p class="fw-bold text-secondary wow fadeInRight" data-wow-delay="100ms">UI & UX Designer</p>
				<div class="row gap-5 mt-5">
					<div class="col-4 col-lg-3 col-xl-2 wow fadeInUp" data-wow-delay="50ms">
						<div class="text-center mani-kangkan">
							<div class="d-flex justify-content-center align-items-center mb-4">
								<img src="" class="avatar-img skeleton-loading" />
							</div>
							<p>M. Yashasvita</p>
						</div>
					</div>
					<div class="col-4 col-lg-3 col-xl-2 wow fadeInUp" data-wow-delay="100ms">
						<div class="text-center mani-kangkan">
							<div class="d-flex justify-content-center align-items-center mb-4">
								<img src="" class="avatar-img skeleton-loading" />
							</div>
							<p>Manikangkan Das</p>
						</div>
					</div>
				</div>
			</div>

			<!-- For Frontend Dev Team -->
			<div class="my-5">
				<p class="fw-bold text-secondary wow fadeInRight" data-wow-delay="100ms">Frontend Dev Team</p>
				<div class="row gap-5 mt-5">
					<div class="col-4 col-lg-3 col-xl-2 wow fadeInUp" data-wow-delay="150ms">
						<div class="text-center mani-kangkan">
							<div class="d-flex justify-content-center align-items-center mb-4">
								<img src="" class="avatar-img skeleton-loading" />
							</div>
							<p>Manashjyoti Boro</p>
						</div>
					</div>
					<div class="col-4 col-lg-3 col-xl-2 wow fadeInUp" data-wow-delay="200ms">
						<div class="text-center mani-kangkan">
							<div class="d-flex justify-content-center align-items-center mb-4">
								<img src="" class="avatar-img skeleton-loading" />
							</div>
							<p>Aijul Hussian</p>
						</div>
					</div>
					<div class="col-4 col-lg-3 col-xl-2 wow fadeInUp" data-wow-delay="250ms">
						<div class="text-center mani-kangkan">
							<div class="d-flex justify-content-center align-items-center mb-4">
								<img src="" class="avatar-img skeleton-loading" />
							</div>
							<p>Venom Kage</p>
						</div>
					</div>
					<div class="col-4 col-lg-3 col-xl-2 wow fadeInUp" data-wow-delay="300ms">
						<div class="text-center mani-kangkan">
							<div class="d-flex justify-content-center align-items-center mb-4">
								<img src="" class="avatar-img skeleton-loading" />
							</div>
							<p>Bidipta Saikia</p>
						</div>
					</div>
					<div class="col-4 col-lg-3 col-xl-2 wow fadeInUp" data-wow-delay="350ms">
						<div class="text-center mani-kangkan">
							<div class="d-flex justify-content-center align-items-center mb-4">
								<img src="" class="avatar-img skeleton-loading" />
							</div>
							<p>Manikangkan Das</p>
						</div>
					</div>
				</div>
			</div>
			<!-- For Backend Dev Team -->
			<div class="my-5">
				<p class="fw-bold text-secondary wow fadeInRight" data-wow-delay="100ms">Backend Dev Team</p>
				<div class="row gap-5 mt-5">
					<div class="col-4 col-lg-3 col-xl-2 wow fadeInUp" data-wow-delay="400ms">
						<div class="text-center mani-kangkan">
							<div class="d-flex justify-content-center align-items-center mb-4">
								<img src="" class="avatar-img skeleton-loading" />
							</div>
							<p>Abhisek Mandal</p>
						</div>
					</div>
					<div class="col-4 col-lg-3 col-xl-2 wow fadeInUp" data-wow-delay="450ms">
						<div class="text-center mani-kangkan">
							<div class="d-flex justify-content-center align-items-center mb-4">
								<img src="" class="avatar-img skeleton-loading" />
							</div>
							<p>Ramjan Ali</p>
						</div>
					</div>
				</div>
			</div>

			<!-- For DevOps Team -->
			<div class="my-5">
				<p class="fw-bold text-secondary wow fadeInRight" data-wow-delay="100ms">Devops Team</p>
				<div class="row gap-5 mt-5">
					<div class="col-4 col-lg-3 col-xl-2 wow fadeInUp" data-wow-delay="500ms">
						<div class="text-center mani-kangkan">
							<div class="d-flex justify-content-center align-items-center mb-4">
								<img src="" class="avatar-img skeleton-loading" />
							</div>
							<p>Abhisek Mandal</p>
						</div>
					</div>
					<div class="col-4 col-lg-3 col-xl-2 wow fadeInUp" data-wow-delay="550ms">
						<div class="text-center mani-kangkan">
							<div class="d-flex justify-content-center align-items-center mb-4">
								<img src="" class="avatar-img skeleton-loading" />
							</div>
							<p>Manikangkan Das</p>
						</div>
					</div>
				</div>
			</div>
			<!-- For Seo Optimization Team -->
			<div class="my-5">
				<p class="fw-bold text-secondary wow fadeInRight" data-wow-delay="100ms">Content & Management Team</p>
				<div class="row gap-5 mt-5">
					<div class="col-4 col-lg-3 col-xl-2 wow fadeInUp" data-wow-delay="600ms">
						<div class="text-center mani-kangkan">
							<div class="d-flex justify-content-center align-items-center mb-4">
								<img src="" class="avatar-img skeleton-loading" />
							</div>
							<p>Anindita Mahanty</p>
						</div>
					</div>
					<div class="col-4 col-lg-3 col-xl-2 wow fadeInUp" data-wow-delay="650ms">
						<div class="text-center mani-kangkan">
							<div class="d-flex justify-content-center align-items-center mb-4">
								<img src="" class="avatar-img skeleton-loading" />
							</div>
							<p>Megha Singh</p>
						</div>
					</div>
					<div class="col-4 col-lg-3 col-xl-2 wow fadeInUp" data-wow-delay="700ms">
						<div class="text-center mani-kangkan">
							<div class="d-flex justify-content-center align-items-center mb-4">
								<img src="" class="avatar-img skeleton-loading" />
							</div>
							<p>Priyanshu Pandey</p>
						</div>
					</div>
				</div>
			</div>
			<!-- For Project Management Team -->
			<div class="my-5">
				<p class="fw-bold text-secondary wow fadeInRight" data-wow-delay="100ms">Project Management Team</p>
				<div class="row gap-5 mt-5">
					<div class="col-4 col-lg-3 col-xl-2 wow fadeInUp" data-wow-delay="750ms">
						<div class="text-center mani-kangkan">
							<div class="d-flex justify-content-center align-items-center mb-4">
								<img src="" class="avatar-img skeleton-loading" />
							</div>
							<p>Vipin Kumar</p>
						</div>
					</div>
					<div class="col-4 col-lg-3 col-xl-2 wow fadeInUp" data-wow-delay="800ms">
						<div class="text-center mani-kangkan">
							<div class="d-flex justify-content-center align-items-center mb-4">
								<img src="" class="avatar-img skeleton-loading" />
							</div>
							<p>Abhisek Samantaray</p>
						</div>
					</div>
					<div class="col-4 col-lg-3 col-xl-2 wow fadeInUp" data-wow-delay="850ms">
						<div class="text-center mani-kangkan">
							<div class="d-flex justify-content-center align-items-center mb-4">
								<img src="" class="avatar-img skeleton-loading" />
							</div>
							<p>Manikangkan Das</p>
						</div>
					</div>
				</div>
        <a href="<%=session.url%>" class="fab mx-5 mb-5">
          <img src="../assets/back.png" alt="" />
        </a> 
			</div>
		</div>

		<%- include('partials/offcanvas', {name: session.user})%> 
    <%-include('partials/footer')%>

		<script src="/js/avatarGen.js"></script>
		<script>
			allRandom();
		</script>
	</body>
</html>
