<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2><%=id%> has asked you these things dear client <%=clientName%>  </h2>
    <% for(let q of quesArr){ %> 
        <h2><%= q.question %> </h2>
        <h3><%= q.option_a %> </h3>
        <h3><%= q.option_b %> </h3>
        <h3><%= q.option_c %> </h3>
        <h3><%= q.option_d %> </h3>
    <% } %> 
</body>
</html>