<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs')%>
  <body
    class="vh-100 d-flex flex-column justify-content-center align-items-center"
  >
    <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-8 col-sm-10 col-11">
      <div
        class="
          d-flex
          justify-content-center
          align-items-center
          avatar-wrapper
          wow
          fadeInUp
        "
        data-wow-delay="100ms"
      >
        <img src="../assets/avatars/male1.svg" class="avatar-img" alt="" />
        <img
          src="../assets/pulse.gif"
          alt=""
          class="avatar-pulse position-absolute"
        />
      </div>
      <h2
        id="welcome"
        class="fw-bold text-center wow fadeInUp"
        data-wow-delay="300ms"
      >
        Welcome to <%=id%> 's Quiz
      </h2>

      <div class="w-100 mt-5">
        <form action="/<%=id%>/play" method="POST">
          <div class="wow fadeInUp" data-wow-delay="600ms">
            <label for="" class="form-label">Put your name here</label>
            <input
              type="text"
              name="clientName"
              class="form-control"
              id="clientName"
              placeholder="Hello there, type your good name here"
            />
          </div>
          <br />

          <button
            type="submit"
            class="btn btn-primary w-100 wow fadeInUp"
            data-wow-delay="1200ms"
          >
            Play
          </button>
        </form>
      </div>
    </div>
    <%-include('partials/offcanvas.ejs')%> <%-include('partials/footer.ejs')%>
  </body>
</html>
