<!DOCTYPE html>
<html lang="en">
  <%-include('partials/head', {title: "ðŸLeaderboardðŸ"})%>
  <body>
    <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-8 col-sm-10 col-11">
      <%- include('partials/avatar')%>
      <div class="mt-4 pt-4" id="clientList"></div>
      <a href="/">
        <button
          type="button"
          class="btn btn-primary w-100 my-3 wow fadeInUp"
          data-wow-delay="200ms"
        >
          Go back to Home
        </button>
      </a>
    </div>
    <script>
      const clients = <%-JSON.stringify(clients)%>;
      const clientCount = '<%=clientCount%>';
    </script>
    <script src="/js/response.js"></script>

    <%- include('partials/offcanvas.ejs')%> <%- include('partials/footer.ejs')%>
  </body>
</html>
