<!DOCTYPE html>
<html lang="en">
    <%-include('partials/head', {title: `Score of ${clientName}`})%>

    <% 
    const toSentenceCase = function(str){
        return str.split(' ')
        .map(w => w[0].toUpperCase() + w.substr(1).toLowerCase())
        .join(' ')
    }
    %>
  <body>
    <div class="container mt-5">
        <h1 class="text-center"><%=`${toSentenceCase(clientName)}'s scoresheet for ${gender=="male"? "Mr." : "Miss."} ${toSentenceCase(userName)}'S Quiz `%> </h1>
        <h2 class="text-center"><%=`in which ${gender=="male"? "he" : "she"} scored ${score}/${quesSheet_objs_arr.length}`%> </h2>

    </div>

    <section class="w-100 pt-5" id="answerCards">
        <!-- All the answer cards appear here -->
    </section>    

    <div class="container mb-5">
        <a href="/usrlogin" type="button" class="btn btn-primary w-100 wow fadeInUp" data-wow-delay="400ms" >
            Create your own Quiz?
        </a>
    </div>
    

    <script>
        const answer =<%-JSON.stringify(answerSheet)%>;
        const quesSheet_objs_arr = <%-JSON.stringify(quesSheet_objs_arr) %>;
    </script>
    <script src="/js/responseDetails.js"></script>

    <%- include('partials/offcanvas.ejs')%>
    <%- include('partials/footer.ejs')%>
  </body>
</html>
