<!DOCTYPE html>
<html lang="en">
  <%-include('partials/head', {title: `Score of ${clientName}`})%> <% const
  toSentenceCase = function(str){ return str.split(' ') .map(w =>
  w[0].toUpperCase() + w.substr(1).toLowerCase()) .join(' ') } %>
  <body class="text-center">
    <div class="mt-5 pt-5"><%- include('partials/avatar.ejs')%></div>
    <div class="container mt-5">
      <p class="form-label">
        <%=`${toSentenceCase(clientName)}'s scoresheet for ${gender=="male"?
        "Mr." : "Miss."} ${toSentenceCase(userName)}'S Quiz `%>
      </p>
      <h4 class="text-center">
        <%=`${gender=="male"? "he" : "she"} scored ${score} out of
        ${quesSheet_objs_arr.length}`%>
      </h4>
    </div>

    <section class="w-100 pt-5" id="answerCards">
      <!-- All the answer cards appear here -->
    </section>

    <div class="container mb-5">
      <a
        href="/usrlogin"
        type="button"
        class="btn btn-primary w-100 wow fadeInUp"
        data-wow-delay="400ms"
      >
        Damn, let me create a new quiz for myself
      </a>
    </div>

    <script>
      const answer =<%-JSON.stringify(answerSheet)%>;
      const quesSheet_objs_arr = <%-JSON.stringify(quesSheet_objs_arr) %>;
    </script>
    <script src="/js/responseDetails.js"></script>

    <%- include('partials/offcanvas.ejs')%> <%- include('partials/footer.ejs')%>
  </body>
</html>
