<!DOCTYPE html>
<html lang="en">
    <%-include('partials/head', {title: `${clientName} 's score`})%>
    <% const
  toSentenceCase=function(str){ return str.split(' ') .map(w =>
  w[0].toUpperCase() + w.substr(1).toLowerCase()) .join(' ') } %>
  <body>
    
    <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-8 col-sm-10 col-11">
        <%- include('partials/avatar.ejs')%>
        <div class="text-center pt-4">
            <p class="form-label wow fadeInUp" data-wow-delay="200ms">
                Congratulations, <%= toSentenceCase(clientName) %> 
            </p>
            <h4 class="wow fadeInUp" data-wow-delay="300ms">
                You scrored <%= score %> out of <%=max%>
            </h4>
        </div>

        <a href="response/<%=clientName%>">
            <button type="button" class="btn btn-primary shine-hover w-100 my-3 wow fadeInUp" data-wow-delay="400ms">
               View details
            </button>
        </a>

        <a href="response">
            <button type="button" class="btn btn-light w-100 wow fadeInUp" data-wow-delay="500ms">
                See leaderboard
            </button>
        </a>
      </div>

    </div>
    <script src="https://www.wpromotions.eu/confetti.min.js"></script>
    
    <%- include('partials/offcanvas.ejs' , {name: toSentenceCase(clientName)})%>
    <%- include('partials/footer.ejs')%>

    <script>
        const element = document.querySelectorAll('.avatar-img');
        avatarGen(element[0], '<%=avatarCode%>', '<%=clientName%>');
        avatarGen(element[1], '<%=avatarCode%>', '<%=clientName%>');

        confetti.start();
        setTimeout(() => {
          confetti.stop();
        }, 5000);
    </script>
  </body>
</html>
