<!DOCTYPE html>
<html lang="en">
  <script src="https://www.wpromotions.eu/confetti.min.js"></script>
  <script>
    confetti.start();
  </script>
  <%- include('partials/head.ejs')%>
  <body
    class="vh-100 d-flex flex-column justify-content-center align-items-center"
  >
    <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-8 col-sm-10 col-11">
      <div
        class="
          d-flex
          justify-content-center
          align-items-center
          avatar-wrapper
          wow
          fadeInUp
        " data-wow-delay="100ms">
            <img src="/assets/avatars/male1.svg" class="avatar-img" alt="" />
            <img src="/assets/pulse.gif" alt="" class="avatar-pulse position-absolute" />
        </div>
        <div class="text-center">
            <p class="fw-bold wow fadeInUp" data-wow-delay="200ms">
                Congratulations, <%= clientName.toUpperCase() %> 
            </p>
            <h2 class="fw-bold wow fadeInUp" data-wow-delay="300ms">
                You scrored <%= score %> out of 10
            </h2>
        </div>

        <a href="scoresheet?clientName=<%=clientName%>">
            <button type="button" class="btn btn-primary w-100 my-3 wow fadeInUp" data-wow-delay="400ms">
               View details
            </button>
        </a>

        <a href="./leaderboard">
            <button type="button" class="btn btn-light w-100 wow fadeInUp" data-wow-delay="500ms">
                See leaderboard
            </button>
        </a>
      </div>

    </div>
    <script src="https://www.wpromotions.eu/confetti.min.js"></script>
    <script>
      confetti.start();
    </script>
    <%- include('partials/menu.ejs')%>
    <%- include('partials/footer.ejs')%>
  </body>
</html>
