<!DOCTYPE html>
<html lang="en">
  <%-include('partials/head', {title: "ðŸFriendship QuizðŸ"})%><% const
  toSentenceCase = function(str){ return str.split(' ') .map(w =>
  w[0].toUpperCase() + w.substr(1).toLowerCase()) .join(' ') } %>

  <body>
    <div
      class="col-xxl-6 col-xl-6 col-lg-8 col-md-8 col-sm-10 col-11 text-center"
    >
      <%- include('partials/avatar.ejs')%>
      <div class="my-5 pt-4">
        <h2 class="fw-bold wow fadeInDown" data-wow-delay="100ms">
          Damn Dear, <%= toSentenceCase(id) %>
        </h2>
        <p class="text-secondary wow fadeInDown" data-wow-delay="200ms">
          you've successfully create your quiz, time to challenge your
          friends,<br />
          let's share the quiz by using options below
        </p>
      </div>
      <div class="row gap-2 d-flex justify-content-center">
        <div class="col-md-6 col-sm-12 m-0 p-0">
          <div class="input-group mb-2 wow fadeInDown" data-wow-delay="300ms">
            <p id="copyURL" class="form-control">
              <%=`http://friendshipquiz.herokuapp.com/${id.toLowerCase()}/play`%>
            </p>
            <button
              class="btn btn-primary shine-hover"
              type="button"
              id="button-addon2"
              onclick="copyEvent('copyURL')"
            >
              Copy
            </button>
          </div>
          <div class="input-group wow fadeInDown" data-wow-delay="400ms">
            <p id="copyCode" class="form-control"><%= id.toLowerCase() %></p>
            <button
              class="btn btn-primary shine-hover"
              type="button"
              id="button-addon2"
              onclick="copyEvent('copyCode')"
            >
              Copy
            </button>
          </div>
        </div>
        <div class="col-md-6 col-sm-12 row m-0 p-0 gap-2">
          <div class="col p-0 wow fadeInDown" data-wow-delay="500ms">
            <a
              href="#"
              type="button"
              class="
                btn btn-secondary
                d-flex
                justify-content-center
                align-items-center
              "
            >
              <object
                data="../../assets/social-share-icons/whatsapp.svg"
                type="image/svg+xml"
              ></object>
            </a>
          </div>
          <div class="col p-0 wow fadeInDown" data-wow-delay="600ms">
            <a
              href="#"
              type="button"
              class="
                btn btn-secondary
                d-flex
                justify-content-center
                align-items-center
              "
            >
              <object
                data="../../assets/social-share-icons/telegram.svg"
                type="image/svg+xml"
              ></object>
            </a>
          </div>
        </div>
      </div>
    </div>
    <%- include('partials/offcanvas.ejs')%> <%- include('partials/footer.ejs')%>
    <script>
      new WOW().init();
      function copyEvent(id) {
        var str = document.getElementById(id);
        window.getSelection().selectAllChildren(str);
        document.execCommand("Copy");
      }

      const shareButton = document.querySelector("#shareButton");
      shareButton.addEventListener("click", (event) => {
        let url = document.location.href;
        const canonicalElement = document.querySelector("link[rel=canonical]");
        if (canonicalElement !== null) {
          url = canonicalElement.href;
        }
        navigator.share({ url });
      });
    </script>
  </body>
</html>
