<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs')%>

  <!-- Are you ready, let's go then -->

  <body
    class="
      min-vh-100
      d-flex
      flex-column
      justify-content-center
      align-items-center
    "
  >
    <div class="col-xxl-8 col-xl-8 col-lg-6 col-md-8 col-sm-10 col-11">
      <div
        class="
          d-flex
          justify-content-center
          align-items-center
          avatar-wrapper
          wow
          fadeInDown
        "
        data-wow-delay="100ms"
      >
        <img src="/assets/avatar.png" class="avatar-img" alt="" />
        <img
          src="/assets/pulse.gif"
          alt=""
          class="avatar-pulse position-absolute"
        />
      </div>
      <div class="text-center my-5 lh-1">
        <p class="wow fadeInDown" data-wow-delay="200ms">Well done</p>
        <h2 class="fw-bold lh-base fadeInDown" data-wow-delay="300ms">
          <%= id.toUpperCase() %>
        </h2>
        <p class="wow fadeInDown mt-4" data-wow-delay="400ms">
          Time to challenge my Friends 😏
        </p>

        <p id="copyURL" class="form-control mt-2"></p>

        <p id="copyCode" class="form-control mt-3"><%= id.toLowerCase() %></p>
        <button type="button" class="btn" onclick="copyEvent('copyCode')">
          COPY PLAYCODE
        </button>
      </div>
      <div class="row g-3">
        <div
          class="col-6 col-sm-3 wow fadeInDown"
          data-wow-delay="500ms"
          id="shareButton"
        >
          <a
            href="#"
            type="button"
            class="
              btn btn-secondary
              d-flex
              justify-content-center
              align-items-center
            "
          >
            <object
              data="../../assets/social-share-icons/1.svg"
              type="image/svg+xml"
            ></object>
          </a>
        </div>
        <div
          class="col-6 col-sm-3 wow fadeInDown"
          data-wow-delay="500ms"
          onclick="copyEvent('copyURL')"
        >
          <a
            href="#"
            type="button"
            class="
              btn btn-secondary
              d-flex
              justify-content-center
              align-items-center
            "
          >
            <object
              data="../../assets/social-share-icons/2.svg"
              type="image/svg+xml"
            ></object>
          </a>
        </div>
        <div class="col-6 col-sm-3 wow fadeInDown" data-wow-delay="500ms">
          <a
            href="../bidipta/starter-responder.html"
            type="button"
            class="
              btn btn-secondary
              d-flex
              justify-content-center
              align-items-center
            "
          >
            <object
              data="../../assets/social-share-icons/3.svg"
              type="image/svg+xml"
            ></object>
          </a>
        </div>
        <div class="col-6 col-sm-3 wow fadeInDown" data-wow-delay="500ms">
          <a
            href="../bidipta/starter-responder.html"
            type="button"
            class="
              btn btn-secondary
              d-flex
              justify-content-center
              align-items-center
            "
          >
            <object
              data="../../assets/social-share-icons/4.svg"
              type="image/svg+xml"
            ></object>
          </a>
        </div>
      </div>
    </div>
    <%- include('partials/gear.ejs')%> <%-include('partials/footer.ejs')%>
    <script>
      new WOW().init();
      function copyEvent(id) {
        var str = document.getElementById(id);
        window.getSelection().selectAllChildren(str);
        document.execCommand("Copy");
      }
      const urlText = document.querySelector("#copyURL");
      urlText.innerText = window.location.href;

      const shareButton = document.querySelector("#shareButton");
      shareButton.addEventListener("click", (event) => {
        let url = document.location.href;
        const canonicalElement = document.querySelector("link[rel=canonical]");
        if (canonicalElement !== null) {
          url = canonicalElement.href;
        }
        navigator.share({ url });
      });
    </script>
  </body>
</html>
