<!DOCTYPE html>
<html lang="en">
<%-include('partials/head', {title: "ðŸFriendship QuizðŸ" })%>

  <body>
    <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-8 col-sm-10 col-11">
      <%-include('partials/avatar.ejs')%>
        <div>
          <form onsubmit="return validate($('#username').val())" action="/usrlogin" autocomplete="off" method="POST">
            <div class="wow fadeInUp" data-wow-delay="200ms">
              <label for="username" class="form-label">Username</label>
              <input type="text" name="username" class="form-control" id="username" aria-describedby="emailHelp"
                placeholder="Type an username here without <space>" oninput="liveAvatarGen(this.value)" />
            </div>

            <div class="btn-group d-flex gap-3 my-3 wow fadeInUp" data-wow-delay="300ms" role="group">
              <input type="radio" class="btn-check" name="gender" id="male" value="male" checked="true" />
              <label class="btn btn-primary w-100 male" for="male" onclick="activateMe()">I'm a boy</label>

              <input type="radio" class="btn-check" name="gender" id="female" value="female" />
              <label class="btn w-100 female" for="female" onclick="activateMe()">I'm a girl</label>
            </div>

            <input type="hidden" name="avatarCode" id="userAvatarCode">

            <button type="submit" id="nextBtn" class="btn btn-primary shine-hover w-100 wow fadeInUp"
              data-wow-delay="400ms">Next</button>
          </form>
          <%-include('partials/modal.ejs')%>
        </div>
    </div>
    <script>
      function activateMe() {
        $('label.male').toggleClass('btn-primary');
        $('label.female').toggleClass('btn-primary');
      }
      const validate = (name) => {
        if (name == '' || name == null) {
          modalTrigger('Warning!', 'You must enter a name', 'Try Again');
          return false;
        } else return true;
      };

    </script>

    <script src="js/avatarGen.js"></script>
    <%-include('partials/offcanvas.ejs', {name: session.user})%>
      <%-include('partials/footer.ejs')%>
      <script>avatarGen()</script>
  </body>

</html>